<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liang.mapper.DeptMapper">
  <resultMap id="BaseResultMap" type="com.liang.pojo.Dept">
    <!--@mbg.generated-->
    <!--@Table dept-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="db_source" jdbcType="VARCHAR" property="dbSource" />
  </resultMap>

<!--  <sql id="Base_Column_List">-->
<!--    &lt;!&ndash;@mbg.generated&ndash;&gt;-->
<!--    id, `name`, db_source-->
<!--  </sql>-->
  <insert id="insertDept" keyColumn="id" keyProperty="id" parameterType="com.liang.pojo.Dept" useGeneratedKeys="true">
    insert into dept (`name`, db_source)
    values (#{name}, DATABASE())
  </insert>
<!--  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">-->
<!--    &lt;!&ndash;@mbg.generated&ndash;&gt;-->
<!--    select -->
<!--    <include refid="Base_Column_List" />-->
<!--    from dept-->
<!--    where id = #{id,jdbcType=INTEGER}-->
<!--  </select>-->
<!--  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">-->
<!--    &lt;!&ndash;@mbg.generated&ndash;&gt;-->
<!--    delete from dept-->
<!--    where id = #{id,jdbcType=INTEGER}-->
<!--  </delete>-->
<!--  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.liang.pojo.Dept" useGeneratedKeys="true">-->
<!--    &lt;!&ndash;@mbg.generated&ndash;&gt;-->
<!--    insert into dept (`name`, db_source)-->
<!--    values (#{name,jdbcType=VARCHAR}, #{dbSource,jdbcType=VARCHAR})-->
<!--  </insert>-->
<!--  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.liang.pojo.Dept" useGeneratedKeys="true">-->
<!--    &lt;!&ndash;@mbg.generated&ndash;&gt;-->
<!--    insert into dept-->
<!--    <trim prefix="(" suffix=")" suffixOverrides=",">-->
<!--      <if test="name != null">-->
<!--        `name`,-->
<!--      </if>-->
<!--      <if test="dbSource != null">-->
<!--        db_source,-->
<!--      </if>-->
<!--    </trim>-->
<!--    <trim prefix="values (" suffix=")" suffixOverrides=",">-->
<!--      <if test="name != null">-->
<!--        #{name,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="dbSource != null">-->
<!--        #{dbSource,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--    </trim>-->
<!--  </insert>-->
<!--  <update id="updateByPrimaryKeySelective" parameterType="com.liang.pojo.Dept">-->
<!--    &lt;!&ndash;@mbg.generated&ndash;&gt;-->
<!--    update dept-->
<!--    <set>-->
<!--      <if test="name != null">-->
<!--        `name` = #{name,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="dbSource != null">-->
<!--        db_source = #{dbSource,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--    </set>-->
<!--    where id = #{id,jdbcType=INTEGER}-->
<!--  </update>-->
<!--  <update id="updateByPrimaryKey" parameterType="com.liang.pojo.Dept">-->
<!--    &lt;!&ndash;@mbg.generated&ndash;&gt;-->
<!--    update dept-->
<!--    set `name` = #{name,jdbcType=VARCHAR},-->
<!--      db_source = #{dbSource,jdbcType=VARCHAR}-->
<!--    where id = #{id,jdbcType=INTEGER}-->
<!--  </update>-->
</mapper>